#custom-handle {
    width: 3em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
}
.calculator{
    margin-left: 200px;
    margin-top: 200px;
    width: 500px;
}

.office-container{

    display: none;
}

#flat-amount
{
    font-size: 20px;
    border:0; 
    color:#f6931f;
    font-weight:bold;
}
#office-amount
{
    font-size: 20px;
    border:0; 
    color:#f6931f;
    font-weight:bold;
}
#total
{
    font-size: 20px;
    border: 0; 
    font-weight:bold;
}
#flat{
    margin-top: 50px;
}
.icon{
    margin-right: 20px;
    height: 80px; 
    width: 80px;
    background-size: 80px auto;
    display: inline-block;
    background-repeat: no-repeat;
  
} 
.icon:hover{
   
}

.icon1{
    background-image: url(icons/1.png);
 }
.icon2{
    background-image: url(icons/2.png);
}
.icon3{
    background-image: url(icons/3.png);
}
.icon4{
    background-image: url(icons/4.png);
}
.icon5{
    background-image: url(icons/5.png);
}

ul {
    list-style-type: none;
  }
  
  li {
    display: inline-block;
  }
  
  input[type="checkbox"][id^="myCheckbox"] {
    display: none;
  }
  
  label {
    border: 1px solid #fff;
    padding: 10px;
    display: inline-block;
    position: relative;
    margin: 10px;
    cursor: pointer;
  }
  
  label:before {
    background-color: white;
    color: white;
    content: " ";
    display: block;
    border-radius: 50%;
    border: 1px solid grey;
    position: absolute;
    top: -5px;
    left: -5px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(0);
  }
  
  label img {
    height: 100px;
    width: 100px;
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
  }
  
  :checked + label {
    border-color: #ddd;
  }
  
  :checked + label:before {
    content: "✓";
    background-color: grey;
    transform: scale(1);
  }
  
  :checked + label img {
    transform: scale(0.9);
    /* box-shadow: 0 0 5px #333; */
    z-index: -1;
  }